*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    /* width: 1250px; */
    width: 960px;
    margin: auto;
}
.banner-section {
    width: 100%;
}
.banner {
    width: 100%;
    max-height: 500px;
}
.header-section { 
    background-color: #002c2f;
    width: 100%;
    height: 60px;
}
.header {
    position: relative;
}
.header-left {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0;
}
.logo {
    width: 60px;
}
.logo-text {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #f07237;
}
.header-right {
    display: flex;
    position: absolute;
    margin-top: 15px;
    right: 0;
}
.icon-cirkle {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa {
    color: white;
    line-height: 30px;
    text-decoration: none;
}
.icon-cirkle:hover {
    background-color: #ee802f;
}
.nav-section {
    background-color: #02171a;
    width: 100%;
    height: 60px;
}
.nav {
    position: absolute;
}
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    line-height: 60px;
}
.nav-item {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #b3bdbe;
    font-size: 14x;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    
}
.nav-item:hover {
    color: #d48a33;
}


/* BODY*/
.registration-section {
    width: 100%;
    height: auto;
    background-color: green;
}
hr {
    border: 1px solid #f1f1f1;
}
p {
    margin-top: 5px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: rgb(221, 221, 221);
    outline: none;
}
.button {
    background-color: #f07237;
    color: #b3bdbe;
    font-size: larger;
    font-weight: 600;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 15px 15px;
    border: none;
    width: 100%;
    margin-top: 5px;
}
.button:hover {
opacity: 1;
}



/* FOOOTER */
.footer-section {
    background-color: #02171a;
    width: 100%;
    height: 60px;
}

.footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.footer {
    line-height: 60px;
    font-size: 14px;
    position: absolute;
    color: #b3bdbe;
}

.footer.left {
    position: absolute;
    left: 0;
}

.footer.rigth {
    right: 0;
}