/* BODY*/
.registration-section {
    width: 100%;
    min-height: 457px; /*TODO*/
    background-color: #002c2f;
}
h2{
    padding-top: 10px;
    color: #f07237;
    font-size: xx-large;
}
hr{
    border: 1px solid #f1f1f1;
}
p{
    padding-top: 10px;
    color:#b3bdbe;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding-bottom: 10px;
}
b{
    color:#b3bdbe;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
a{
    color: white;
    font-weight: bold;
}
a:hover  {
    color: teal;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;

}
input[type=text]:focus, input[type=password]:focus {
    background-color: rgb(221, 221, 221);
    outline: none;
}
.button {
    cursor: pointer;
    background-color: #f07237;
    color: #b3bdbe;
    font-size: larger;
    font-weight: 600;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 15px 15px;
    border: none;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
}

/*POPUP RULES ITEM
* https://www.youtube.com/watch?v=MBaw_6cPmAw
*/
.rules {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 50%;
    max-width: 80%;
    position: fixed;
    transition: 200ms ease-in-out;
    border-radius: 5px;
    z-index: 10;
    border: 1px solid black;
    background-color: white;
}

.rules.active {
    transform: translate(-50%, -50%) scale(1);
}

.rules-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid black;
}

.rules-header .title {
    font-size: larger;
    font-weight: bold;
    color: #f07237;
}

.rules-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: larger;
    font-weight: bold;
}

.rules-body {
    padding: 10px 15px;
}

#popup {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    pointer-events: none;
}
  
#popup.active {
    opacity: 1;
    pointer-events: all;
}