@media only screen and (max-width: 1930px) {
    .footer-section{
        position: relative;
    }
}

@media only screen and (max-width: 960px)
{
	.container{
        width:100%;
    }

    .footer-section{
        position: relative;
    }

    .header-section {
        height: auto;
    }
    .header{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
    }
    .header-left {
        position: relative;
    }
    .header-right {
        position: relative;
        margin-bottom: 15px;
    }  

    .menu {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .nav-section {
        height: auto;
    }
    .nav {
        position: relative;
    }
    .search-items {
        position: relative;
    }

    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .upload-image-section{
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .upload {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }
    .addQuestion{
        width: 100%;
        text-align: center;
    }
    .upload-image-container{
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #photo-url{
        width: 100%;
    }
    #url-button#url-button{
        width: 100%;
        margin-right: 0;
        margin-top: 5px;
    }
    .start-quiz-holder {
        align-items: center;
        flex-direction: column;
    }
    .sign-in-section {
        height: auto;
    }
    .start-quiz-section {
        height: auto;
    }
}

@media only screen and (max-width: 500px)
{    
    .header-section {
        height: auto;
    }
    .header-left {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .icon-items{
        margin-top: 0;
        position: relative;
    }   
    .search-items {
        position: relative;
    }
    .info-image {
        height: auto;
    }
    .footer-section{
        height: auto;
    }


    .footer-items {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer.left {
        position: relative;
    }
    .footer.rigth {
        position: relative;
    }
    #wrong-ans{
        width: 100%;
        margin: 5px 0 0;
    }
    #wrong-ans-div{
        width: 100%;
    }
    #add-worng-ans-btn{
        position: relative;
        width: 100%;
    }
}