*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #002c2f;
    position: relative;
}
.container {
     width: 1250px;
    /*width: 960px;*/
    margin: auto;
}

.header-section { 
    background-color: #002c2f;
    width: 100%;
    height: 60px;
}
.header {
    /*display: flex;*/
    /*justify-content: space-between;*/
    position: relative;
    /*width: 960px;*/
}
.header-left {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0;
}
.logo {
    width: 60px;
}
.logo-text {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #f07237;
    line-height: 60px;
}
.header-right {
    display: flex;
    /*position: absolute;*/
    margin-top: 15px;
    right: 0px;
}


/* --------- */

.menu-button{
    background-color: transparent;
    font-size: 15px;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #fff;
}

.right-menu{
    position: relative;
    display: inline-block;
    float:right;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 158px;
    z-index: 1;
}

.dropdown-menu a:hover{
    background-color: #000;
    color: #fff;
}

.right-menu:hover .dropdown-menu{
    display: block;
}

.right-menu:hover .menu-button{
    background-color: transparent;
}

/* --------- */

.icon-cirkle {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa {
    color: white;
    line-height: 30px;
    text-decoration: none;
    font-size: 20px;
}
.icon-cirkle:hover {
    background-color: #ee802f;
}
.nav-section {
    background-color: #02171a;
    width: 100%;
    height: 60px;
}
.nav {
    position: absolute;
}
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    line-height: 60px;
    position: relative;
}
.nav-item {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #b3bdbe;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    
}

.nav-item:hover {
    color: #d48a33;
}

.manu {
    position: relative;
}

.button {
    cursor: pointer;
    background-color: #f07237;
    color: white;
    font-size: larger;
    font-weight: 600;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 15px 15px;
    border: none;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.upload {
    width: 226.44px;
    height: 45px;
    font-size: small;
    text-align: center;
    margin: 10px 10px 0 0;
}

.upload-image-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#photo-url{
    width: 30%;
    margin-bottom: 0;
}


/* FOOOTER */
.footer-section {
    background-color: #02171a;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
}
.footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.footer {
    line-height: 60px;
    font-size: 14px;
    position: absolute;
    color: #b3bdbe;
}
.footer.left {
    position: absolute;
    left: 0;
}
.footer.rigth {
    right: 0;
}