.footer-section{
    margin-top: 100px;
    background-color: #02171a;
    width: 100%;
    height: 60px;
    bottom: 0;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.social-icons{
    display: flex;
    justify-content: space-between;
}
.footer-items-left{
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 14px;
    color: #b3bdbe;
}
.footer-items-right{
    display: flex;
    align-content: space-between;
    position: absolute;
    align-self: center;
    margin-right: 10px;
    margin-top: 15px;
    right: 0px;
}