.search-items {
    height: 60px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 0;
}

input[type=text]{
    width: 100%;
    height: 40px;
    padding: 15px;
    border: none;
    background: #f1f1f1;
    margin-right: 5px;
    border-radius: 5px;
}
input[type=text]:focus{
    background-color: rgb(221, 221, 221);
    outline: none;
}

.search-items button {
    padding: 6px 10px;
    background: #f07237;
    font-size: 18px;
    height: 40px;
    border: none;
    border-radius: 5px;
  }
.slider {
    width: 100%;
    background-color: #002c2f;
}
.main-section {
    background-color: #002c2f;
    width: 100%;
    height: auto;
}
.info-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.info-item {
    margin: 40px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
}
.info-text {
    text-align: left;
    margin-left: 14px;
    font-family: serif;
}
.info-title {
    color: #d48a33;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    text-transform: capitalize;
}
.author {
    font-size: 14px;
    color:#b3bdbe;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.info-paragraf {
    font-size: 12px;
    color:red;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.info-image {
    width: 100%;
    background-size: cover;
}
.info-image.a {
    background-image: url('../images/homepage/a.jpg');
}
.info-image.b {
    background-image: url('../images/homepage/b.jpg');
}
.info-image.c {
    background-image: url('../images/homepage/c.jpg');
}
.info-image.d {
    background-image: url('../images/homepage/d.jpg');
}

.button{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    outline:none;
}

.button {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border: 1px solid rgba(255,255,255,0.5);
    overflow: hidden;
}
.button a{
    color: rgba(51,51,51,1);
    text-decoration: none;
    display: block;
}
.button::before, .button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.25);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button::after{
    -webkit-transition-delay: 0.1s; /* Safari */
    transition-delay: 0.1s;
}
.button:hover::before, .button:hover::after{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.logIn{
    background-color: #f07237;
    color: white;
    font-size: medium;
    font-family: "Comic Sans MS", cursive, sans-serif;
    cursor: pointer;
}

.logIn:hover{
    background-color: #b3bdbe;
    color: #f07237;
}