/* BODY*/
.registration-section {
    width: 100%;
    background-color: #002c2f;
}
.sign-in-section {
    width: 100%;
    height: 600px;
    background-color: #002c2f;
}
h2{
    padding-top: 10px;
    color: #f07237;
    font-size: xx-large;
}
hr{
    border: 1px solid #f1f1f1;
}
p{
    padding-top: 10px;
    color:#b3bdbe;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding-bottom: 10px;
}
b{
    color:#b3bdbe;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
a{
    color: white;
    font-weight: bold;
}
a:hover  {
    color: teal;
}
input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;

}
input[type=text]:focus, input[type=password]:focus. input[type=date]:focus {
    background-color: rgb(221, 221, 221);
    outline: none;
}

.button {
    cursor: pointer;
    background-color: #f07237;
    color: #b3bdbe;
    font-size: larger;
    font-weight: 600;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 15px 15px;
    border: none;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
}
.input-items {
    margin-top: 22px;
}