.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #02171a;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
}

.dropdown-content a:hover {
    color: #f07237;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav.a{
    cursosr: pointer;
}

.dropdown{
    cursor: pointer;
}

.dropdown:hover{
    background-color: #777;
}

.nav-item:hover{
    background-color: #777;
}