/* BODY*/
.creation-section {
    width: 100%;
    background-color: #002c2f;
}
h2{
    padding-top: 10px;
    color: #f07237;
    font-size: xx-large;
}
hr{
    border: 1px solid #f1f1f1;
}
p{
    padding-top: 10px;
    color:#b3bdbe;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding-bottom: 10px;
}
b{
    color:#b3bdbe;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
a{
    color: white;
    font-weight: bold;
}
a:hover  {
    color: teal;
}
.drop-down{
    width: 100%;
    background: #f1f1f1;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0 22px 0;
}

.input-items{
    margin-top: 22px;
}

input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;

}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
    background-color: rgb(221, 221, 221);
    outline: none;
}

.upload-image-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.upload-image-container {
    width: 100%;
}
#quiz_icon_url {
    width: 30%;
    margin-bottom: 0;
}
#question_image_url{
    width: 30%;
    margin-bottom: 0;
}
.checkbox{
    width: 15px;
    height: 15px;
    margin-bottom: 15px;
}

.addQuestion{
    width:100%;
    margin-bottom: 5px;
}
.finish {
    width: 100%;
}


/* test question part*/
#add-wrong-ans-btn {
    font-size: medium;
    padding: 13px;
    width: 10%;
    margin: 5px 0 22px 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
#wrong-ans-div{
    width: 50%;
    position: relative;
}
#wrong-answer {
    width: 85%;
}
#output {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* multi answer test question part*/
#add-correct-ans-btn {
    font-size: medium;
    padding: 13px;
    width: 10%;
    margin: 5px 0 22px 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
#correct-ans-div{
    width: 50%;
    position: relative;
}
#correct-answer{
    width: 85%;
}
#output {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* matching question part*/
.matching-elems-secton{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.matching-elems-container{
    width: 80%;
    position: relative;
}

.matchin-pair{
    display: flex;
}
.matching-elem.matching-elem {
    width: 40%;
}
.arrow-container{
    width: 5%;
    height: 45px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.arrow {
    color: #f07237;
    border-width: 5px;
    border-style: solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
    margin: 5px;
}
.arrow:before{
    right: 0;
    top: 3.5px;
    position: absolute;
    height: 4px;
    box-shadow: inset 0 0 0 32px;
    transform: rotate(-45deg);
    width: 10px;
}
.arr-right {
    transform: rotate(-135deg);
}
.arr-left {
    transform: rotate(45deg);
}


/* fill question part*/
.entered-text {
    width: 100%;
    height: 200px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
    resize: vertical;
    font-size: 16px;
    color: black;
}

.fill-items-cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.main-text-cont {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.correct-ans-cont {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.toFill-text {
    width: 100%;
    height: 80px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
    resize: none;
}

.fillWith-text{
    width: 100%;
    height: 80px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
    resize: none;
}

.point-holder {
    margin-top: 10px;
    width: 50%;
    flex-direction: column;
}

#question_point {
    width: 40%;
    margin-bottom: 10px;
}

.footer-section{
    position: fixed;
    bottom: 0;
}