.quiz-summary-wrapper{
  width: 100%;
  background-color: #002e30;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-container{
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border:2px double #e65f44;
}
.quizz-main{
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
  margin:10px 10px 5px 5px;

}
.overall-quiz-details{
  font-size: 50px;
  font-stretch: wider;
  font-family: 'Ranchers', cursive;
  color:#f1f1f1;
  height: 50px;
  margin-bottom: 20px;
}
.quizz-img{
  width:70%;
  height:400px;
}
.quiz-description{
  display: flex;
  width:30%;
  height: 400px;
  text-align: center;
  font-weight: bold;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  color:#f5e8b5;
  word-wrap: break-word;
}

.back-to-prof-page{
    margin-top: auto;
    padding: 6px 10px;
    background: #f07237;
    font-size: 18px;
    width:200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self:center;
    color: wheat;
    margin-bottom: 10px;
    align-content: center;
    display: flex;
  justify-content: center;
  outline: none;
}
.back-to-prof-page {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border: 1px solid rgba(255,255,255,0.5);
  overflow: hidden;
}
.back-to-prof-page a{
  color: rgba(51,51,51,1);
  text-decoration: none;
  display: block;
}
.back-to-prof-page::before, .back-to-prof-page::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.25);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0);
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.back-to-prof-page::after{
  -webkit-transition-delay: 0.1s; /* Safari */
  transition-delay: 0.1s;
}
.back-to-prof-page:hover::before, .back-to-prof-page:hover::after{
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

.questions{
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border: 1px solid #f07237;
  transition: transform .2s;
  margin-bottom: 10px;
  color: wheat
}
.question:hover{
  transform: scale(1.1);
}
.question h3{
  font-size: 50px;
  /*font-stretch: wider;*/
  font-family: 'Ranchers', cursive;
  border-bottom: 1px solid;
  color:wheat;
}
.answers{
  display: flex;
  justify-content: space-between;
  width:90%;
}
.correct-answers,.user-answers{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}