
/*POPUP RULES ITEM
* https://www.youtube.com/watch?v=MBaw_6cPmAw
*/
.rules {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 50%;
    max-width: 80%;
    position: fixed;
    transition: 200ms ease-in-out;
    border-radius: 5px;
    z-index: 10;
    border: 1px solid black;
    background-color: white;
}

.rules.active {
    transform: translate(-50%, -50%) scale(1);
}

.rules-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid black;
}

.rules-header .title {
    font-size: larger;
    font-weight: bold;
    color: #f07237;
}

.rules-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: larger;
    font-weight: bold;
}

.rules-body {
    padding: 10px 15px;
}

#popup {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    pointer-events: none;
}
  
#popup.active {
    opacity: 1;
    pointer-events: all;
}