.scroll-block {
    display: flex;
    height: 520px;
}
h2{
    padding-top: 10px;
    color: #f07237;
    font-size: xx-large;
}
.quiz-list-small-description-block{
    width:350px;
    height:100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    overflow: hidden;
    margin-left: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.quiz-list-small-description-block h3{
    margin-top: 5%;
}
.quiz-list-small-description-block h3{
    cursor: pointer;
    color:wheat;
}
.quiz-small-description {
    margin-top: 5px;
    overflow: hidden;
    height: 90px;
    font-size: 14px;
}
.quiz-list-small-description-block p{
    color: white;
}
.top-quiz-list-item {
    margin: 15px;
    width: 282px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    align-items: center;
    align-content: center;
    transition: transform .2s;
    border: 1px solid #ff751a;
}
.top-quiz-list-item:hover{
    transform: scale(1.1);
}

.quiz-list-small-image{
    width: 100%;
    height: 60%;
}

.scroll-arrow {
    text-align: center;
    width: 60px;
    cursor: pointer;
    background-color: #f07237;
    position: absolute;
    border-radius: 50%;
    border: none;
}
.leftarr {
    left: 0;
    top: 45%;
}
.rightarr {
    right: 0;
    top: 45%;
}
