

.start-quiz-section {
    width: 100%;
}
.start-quiz-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.quiz-main-img {
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.text-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.author {
    color: #ff751a;
    font-size: x-large;
}
.description {
    color: white;
    margin: 25px;
}