@media only screen and (max-width: 1250px) {
    .container {
        width: 100%;
    }
    .header-section {
        height: initial;
    }
}

@media only screen and (max-width: 500px) {
    .footer {
        text-align: center;
    }
    .footer.left {
        position: relative;
    }
    .footer.right {
        position: relative;
    }
} 
 